.m-pager {
  @extend %u-clearfix;

  display: flex;
  align-items: center;
  margin-top: ru(1);
  margin-bottom: ru(1);

  // // We need to breakpoits
  // @include breakpoint($bp-expanded-wrapper) {
  //   margin-right: 0;
  //   margin-left: 0;
  // }

}

// // Each part of the pager is wrapped in a group that
// // is vertically centered for small screens

%m-pager__group-core {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  // Reserve space for buttons regardless of whether
  // They render to maintain spacing / Centering of UI
  flex-basis: ru(3.25);

  > a {
    &:first-of-type {
      margin-bottom: ru(0.75);
    }
  }

  @include breakpoint($bp-expanded-wrapper) {
    flex-wrap: nowrap;
    flex-basis: ru(4.25);

    > a {
      &:first-of-type {
        margin-right: ru(0.75);
        margin-bottom: 0;
      }
    }
  }
}

.m-pager__group-backwards {
  @extend %m-pager__group-core;
  justify-content: flex-start;
}

.m-pager__group-forwards {
  @extend %m-pager__group-core;
  justify-content: flex-end;
}

// .m-pager__btn-first {
//   @extend %a-btn--secondary;
//   margin-left: ru(0.75);
// }


.m-pager__btn-prev {
  @extend %a-btn--secondary;
  margin-left: ru(0.75);
}

.m-pager__btn-next {
  @extend %a-btn--secondary;
  margin-left: ru(0.75);
}

// c-btn--icon-large c-btn--secondary
// .m-pager__btn-last {
//   // @extend %a-btn--core;
//   // @extend %a-btn--white;
//   @extend %a-btn--secondary;
// }

// // Pages List. Will Shrink, but not grow. On small screens
// //
.m-pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  margin-right: ru(0.25);
  margin-left: ru(0.25);

  // We need to breakpoits
  @include breakpoint($bp-expanded-wrapper) {
    margin-right: ru(0.5);
    margin-left: ru(0.5);
  }
}

%m-pager--btn-spacing {
  display: block;
  margin-right: ru(0.25);
  margin-bottom: ru(0.25);
  margin-left: ru(0.25);
  padding: ru(0.25) ru(0.333);
  min-width: ru(1.5);
  text-align: center;
}

%m-pager__btn,
.m-pager__item a {
  @extend %a-btn--secondary;
  @extend %m-pager--btn-spacing;
}

%m-pager__btn--is-active,
.m-pager__item-is-active a {
  @extend %a-btn--core;
  @extend %m-pager--btn-spacing;
  border-color: palette(blue);
  background-color: palette(blue);
  cursor: default;
  color: $white;

}

.m-pager__item-prev--ellipsis,
.m-pager__item-next--ellipsis {
  display: none;
  // @extend %a-btn--core;
  // border-color: grey;
  // cursor: default;
}
