<table class="a-table">
  <tbody>
    <tr>
      <th scope="col">Default Table Header Column</th>
      <th class="a-table__col--narrow" scope="col">Narrow Column</th>
      <th class="a-table__col--narrow" scope="col">Narrow Column</th>
    </tr>
    <tr>
      <td>Porta</td>
      <td class="a-table__col--narrow">Yes</td>
      <td class="a-table__col--narrow">Yes</td>
    </tr>
    <tr>
      <td>Inceptos</td>
      <td class="a-table__col--narrow">Yes</td>
      <td class="a-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Cras Elit Nullam</td>
      <td class="a-table__col--narrow">Yes</td>
      <td class="a-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Nullam Foo Donis</td>
      <td class="a-table__col--narrow">Yes</td>
      <td class="a-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Elit</td>
      <td class="a-table__col--narrow">Yes</td>
      <td class="a-table__col--narrow">No</td>
    </tr>
  </tbody>
</table>
