img,
picture {
  display: block;
  width: 100%;
}

// Content Images (in WYSIWYG)

%a-image--styles {

  img,
  picture,
  figure {
    margin-top: ru(0.25);
    margin-bottom: ru(1);
  }

  img + figcaption,
  picture + figcaption {
    margin-bottom: 0;
  }

  figcaption {
    @extend %a-type--small;
    margin-top: ru(-1);
    background-color: palette(grey, xxlight);
    padding: ru(0.5);
  }

  // Image Style classes define width of <figure>, <img> <picture>

  //sass-lint:disable class-name-format
  .content_25_width_ {
    width: 50%;

    @include breakpoint($bp-type-large) {
      width: 25%;
    }

  }

  .content_33_width_ {
    width: 50%;

    @include breakpoint($bp-type-large) {
      width: 1/3 * 100%;
    }

  }

  .content_50_width_ {
    width: 50%;
  }
  //sass-lint:enable class-name-format

  .align-left {
    float: left;
    clear: left;
    margin-right: ru(0.5);
    padding-right: ru(0.5);
  }

  .align-right {
    float: right;
    clear: right;
    margin-left: ru(0.5);
    padding-left: ru(0.5);
  }

  .align-center {
    clear: both;
    margin-right: auto;
    margin-left: auto;
  }
}

// Images display in ckeditor
// Inline Responsive Image modules embeds a img w/ data-attributes

.cke_editable { //sass-lint:disable-line class-name-format

  img {
    margin-top: ru(0.25);
    margin-bottom: ru(1);

    &[data-responsive-image-style='content_25_width_'] {
      width: 50%;

      @include breakpoint($bp-type-large) {
        width: 25%;
      }
    }

    &[data-responsive-image-style='content_33_width_'] {

      width: 50%;

      @include breakpoint($bp-type-large) {
        width: 1/3 * 100%;
      }

    }

    &[data-responsive-image-style='content_50_width_'] {
      width: 50%;
    }
  }

  figure {
    margin-bottom: ru(1);
  }

  img + figcaption,
  picture + figcaption {
    margin-bottom: 0;
  }

  figcaption {
    @extend %a-type--small;
    margin-top: ru(-1);
    background-color: palette(grey, xlight);
    padding: ru(0.5);
  }

  // Image Style classes define width of <figure>, <img> <picture>

}
