.a-list__item,
%a-list__item {
  @extend %a-type__core;
  padding-left: 0;
}

%a-list--unordered,
.a-list--unordered {
  margin-top: ru(0.5);
  margin-bottom: ru(0.5);
  padding-left: 0;
  list-style-type: none;

  li {
    @extend %a-list__item;
    position: relative;
    // margin-bottom: ru(0.25);
    margin-left: ru(1.25);

  }

  li:before {
    position: absolute;
    top: 0;
    left: ru(-1);
    color: palette(blue, light);
    content: '\2022 '; // Bullet symbol
  }

  ul {
    margin-bottom: 0;
   }
}

%a-list--unordered-2col,
.a-list--unordered-2col {
  @extend %a-list--unordered;

  @include breakpoint($bp-full-nav) {
    column-count: 2;
    column-gap: ru(2);
  }

  > li {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}


%a-list--ordered,
.a-list--ordered {
  margin-top: ru(0.5);
  margin-bottom: ru(0.5);
  padding-left: 0;
  list-style-type: none;
  counter-reset: list;


  > li {
    @extend %a-type__core;
    position: relative;
    margin-left: ru(1.25);
    list-style: none;

    &:before {
      position: absolute;
      top: 0;
      left: ru(-1);
      color: palette(blue);
      content: counter(list) '.';
      counter-increment: list;
    }

    ol li {
      &:before {
        content: counter(list, lower-alpha) '.';
      }

    }
  }

}

// White Text Variation

%a-list--unordered-white,
.a-list--unordered-white {
  @extend %a-list--unordered;
  color: $white;

  li:before {
    color: $white;
  }
}


%a-list--ordered-white,
.a-list--ordered-white {
  @extend %a-list--ordered;
  color: $white;

  li:before {
    color: $white;
  }
}
