
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- ToDo: Review Paths to all js -->
  <!-- may need to change these below based on path -->

  <script src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
  <!-- <script type="text/javascript" src="../../../js/svg4everybody.min.js"></script> -->
  <script src="../../../..{{dist_path}}/js/scripts.js"></script>
  <script src="../../../../js/mainspring.config.js"></script>
    </main>
  </body>
</html>
