<div class="pl__wrapper--lrg">
  <p>
    Default Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
  </p>

  <p class="a-type--small">
    <strong>Small Paragraph</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
  </p>

  <p class="a-type--large">
    <strong> Large Paragraph </strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
  </p>

  <p class="a-type--xlarge">
    <strong> xLarge Paragraph </strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
  </p>

  <p class="a-type--no-trailer">
    '.a-type--no-trailer' <strong>Paragraph has no space after it.</strong> One paragraph runs into the next.
  </p>
  <p class="a-type--no-trailer">
    '.a-type--no-trailer' <strong>Paragraph has no space after it.</strong> One paragraph runs into the next.
  </p>
  <p class="a-type--no-trailer">
    '.a-type--no-trailer' <strong>Paragraph has no space after it.</strong> One paragraph runs into the next.
  </p>
</div>
