select {
  background-color: $white;
  background-image: url('/assets/svg/sprite-ui/ico-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right ru(0.25) center;
  background-size: ru(0.75) ru(0.75);
  cursor: pointer;
  padding-right: ru(1.25);
  border-image: none;
  appearance: none;
}

%a-select,
.a-select {
  border-color: palette(grey, xlight);

  &.is-invalid {
    border-color: palette(red);
  }
}
