<h5{% if h5_variation %} class="{{ h5_variation }}"{% endif %}>
{% if path %} <a href="{{ path }}"{% if id %} id="{{ id }}"{% endif %}> {% endif %}
  {{ heading }}
{% if path %} </a> {% endif %}
</h5>
