<h3{% if h3_variation %} class="{{ h3_variation }}"{% endif %}>
{% if path %} <a href="{{ path }}"{% if id %} id="{{ id }}"{% endif %}> {% endif %}
  {{ heading }}
{% if path %} </a> {% endif %}
</h3>
