<h2{% if h2_variation %} class="{{ h2_variation }}"{% endif %}>
{% if path %} <a href="{{ path }}"{% if id %} id="{{ id }}"{% endif %}> {% endif %}
  {{ heading }}
{% if path %} </a> {% endif %}
</h2>
