<h4{% if h4_variation %} class="{{ h4_variation }}"{% endif %}>
{% if path %} <a href="{{ path }}"{% if id %} id="{{ id }}"{% endif %}> {% endif %}
  {{ heading }}
{% if path %} </a> {% endif %}
</h4>
