%heading-core {
  color: $color-primary-dark;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
}

%heading-link {
  a {
    $underline-color: $color-secondary;

    display: inline;
    background-color: transparent;
    background-image: linear-gradient(to right, $underline-color 0%, $underline-color 100%);
    background-repeat: repeat-x;
    background-position: bottom center; // Default for old safari
    background-position: bottom 0.12em center; //sass-lint:disable-line no-duplicate-properties
    background-size: 100% 1px;
    color: $color-primary-dark;
    text-shadow: none;

    &:focus,
    &:hover,
    &:active {
      background-color: transparent;
      background-size: 100% 2px;
      color: $color-secondary-dark;
    }
  }
}

.a-type__h1,
%a-type__h1 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h1-font-sizes);
}

.a-type__h2,
%a-type__h2 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h2-font-sizes);
}

.a-type__h3,
%a-type__h3 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h3-font-sizes);
}

.a-type__h4,
%a-type__h4 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h4-font-sizes);
}

.a-type__h5,
%a-type__h5 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h5-font-sizes);
}

.a-type__h6,
%a-type__h6 {
  @extend %heading-core;
  @extend %heading-link;
  @include font-size($h6-font-sizes);
}
