%a-type__core {
  @include font-size($font-sizes--base, 0, 1);
}

p {
  @extend %a-type__core;
}

%a-type--small,
.a-type--small {
  @include font-size($font-sizes--small, 0, 1);
}

%a-type--large,
.a-type--large {
  @include font-size($font-sizes--large, 0, 1);
}

%a-type--large__wrapper,
.a-type--large__wrapper {
  @extend %a-type--large;

  > * {
    @extend %a-type--large;
    @extend %u-remove-child--margin-top-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

%a-type--xlarge,
.a-type--xlarge {
  @include font-size($font-sizes--xlarge, 0, 1);
}

%a-type--xlarge__wrapper,
.a-type--xlarge__wrapper {

  > * {
    @extend %a-type--xlarge;
    @extend %u-remove-child--margin-top-bottom;
  }
}

%a-type--semibold,
.a-type--semibold {
  font-weight: 600;
}

%a-type--center,
.a-type--center {
  text-align: center;
}

%a-type--no-trailer,
.a-type--no-trailer {
  @include font-size($font-sizes--base, 0, 0);
}

%a-type__hr,
hr {
  clear: both;
  margin: ru(1) 0;
  border: 0;
  background-color: palette(grey, light);
  height: 1px;
  font-size: 0;
}

// Used to reset image floats in complex layouts
.a-type__hr--transparent {
  margin: 0;
  background-color: transparent;

  // Add a style for CKeditor so you can see/click it in the editor!
  .cke_editable & { // sass-lint:disable-line class-name-format
    border-bottom: 1px dashed palette(red);
  }
}
