%m-card,
.m-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $white;
  height: 100%;
  overflow: hidden;
}

%m-card__banner,
.m-card__banner {
  min-height: ru(8);
}

.m-card__info {
  margin-top: auto;
  padding-top: ru(0.5);
  padding-right: ru(0.5);
  padding-bottom: ru(1);
  padding-left: ru(0.5);
  height: ru(13.5);
  overflow: hidden;
}

.m-card__title {
  clear: both;
  margin-bottom: ru(0.5);
}
