// Core Extendables
%a-btn--core {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: rem(2px);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

%a-btn--default-padding {
  padding: ru(0.5) ru(1);
}

%a-btn--narrow-padding {
  padding: ru(0.25) ru(0.75);
}

%a-btn--palette-grey {
  border-color: $color-primary-light;
  background-color: $white;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-primary;
    background-color: $color-primary-xxlight;
    color: $color-primary-dark;
  }
}

%a-btn--palette-blue {
  border-color: $color-secondary-dark;
  background-color: $color-secondary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-secondary-dark;
    background-color: $color-secondary-dark;
    color: $color-primary-xxxlight;
  }
}

%a-btn--palette-white {
  background-color: $white;
  color: $color-secondary;
}

// Style Variations
// Button that looks like text link
%a-btn--link,
.a-btn--link {
  margin: 0 0 ru(0.25) 0;
  border: 0;
  background: transparent;
  padding: 0;
  text-transform: uppercase;
  color: $white;

  &:focus {
    outline: none;
  }
}

// Button Variations
%a-btn,
.a-btn {
  @extend %a-btn--core;
  @extend %a-btn--default-padding;
  @extend %a-btn--palette-blue;

}

%a-btn--secondary,
.a-btn--secondary {
  @extend %a-btn--core;
  @extend %a-btn--default-padding;
  @extend %a-btn--palette-grey;
}

.a-btn--thin {
  @extend %a-btn--core;
  @extend %a-btn--narrow-padding;
  @extend %a-btn--palette-blue;
}

.a-btn--secondary-thin {
  @extend %a-btn--core;
  @extend %a-btn--narrow-padding;
  @extend %a-btn--palette-grey;
}
